@media (max-width: 768px) {
  .container {
    max-width: 720px;
    min-height: 0;
  }
  //greeting
  .menu {
    display: none;
  }

  .contacts {
    display: none;
  }

  .burger {
    display: flex;
  }

  .greeting-about {
    display: none;
  }

  .fixed-menu {
    display: none;
  }

  .greeting {
    min-height: 0;
    background: url(../img/bg/big-leaf1.png) right top 91rem no-repeat;
    background-color: #61c4d9;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }

  }

  .greeting__container {
    background: url(../img/bg/combo.png) left 47% top 27%/50% auto no-repeat;
    padding-bottom: 204rem;
  }

  .greeting-desc {
    max-width: 100%;
    text-align: center;
  }

  .greeting-desc__title {
    margin-bottom: 0;
  }

  .greeting-desc__subheader {
    padding: 0 25%;
  }

  //advantages

  .advantages-section {
    background: url(../img/bg/leaf2.png) left top 15% no-repeat;
  }

  .advantages__title {
    margin: 0;
    line-height: 1.1;
  }

  .headline__subtitle {
    padding: 0 20%;
  }

  .advantages__item::after {
    display: none;
  }

  //feedbacks

  .feedbacks-desc::before {
    top: -50rem;
  }

  .feedbacks-desc--wrapper {
    padding-top: 58rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 32rem;
  }

  .feedbacks__avatar {
    height: 130rem;
    width: 130rem;
  }

  .feedbacks__content {
    margin-left: 0;
  }

  .feedbacks__text {
    padding-right: 0;
  }

//order 
  .order-section::before {
    content: none;
  }

  .order-section::after{
    content: none;
  }

  .order__title {
    margin-bottom: 3%;
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 0 17%;
  }

  .form__col {
    margin: 0;
  }

  .form__buttons {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 0.85px;
  }

  .container {
    width: 100%;
    padding: 0 5% 0;
  }

//greeting
  .greeting {
    background: url(../img/bg/big-leaf1.png) right top 55rem no-repeat;
    background-size: 75%;
    background-color: #61c4d9;
  }

  .greeting__container {
    padding: 5% 5% 20%;
    background: url(../img/bg/combo.png) left 47% top 17%/76% auto no-repeat;
  }

  .title {
    line-height: 1.1;
    font-size: 40rem;
  }

  .greeting-desc__subheader {
    padding: 0 5%;
  }


//advantages

.advantages-section {
  background: none;

  &::after {
    content: none;
  }
}

.headline__subtitle {
  padding:0;
}

.advantages {
  display: flex;
  flex-direction: column;
}

.advantage {
  display: flex;
}

.advantages__item {
  padding: 0;
}

.advantage__text {
  text-align: left;
}

.advantage__icon {
  margin-right: 3%;
  margin-bottom: 5%;

  &:last-child {
    margin-bottom: 0;
  }
}

//feedbacks 

.feedbacks-section {
  background: url(../img/bg/strawberry3.png) right -11% top 1% no-repeat;

  &::before {
    bottom: -30%;
    left: -10%;
    z-index: 3;
  }

  &::after {
    left: -10%;
    bottom: -14%;
    z-index: 4;
  }
}

.feedbacks-desc::before {
  display: none;
}

.feedbacks-desc--wrapper {
  padding: 5% 0;
  background-size: 23%;
}

//order 

.form {
  padding: 0;
}

.form__input {
  padding: 2%;
}

.form__input--textarea {
  min-height: 80rem;
}

.form__controls {
  display: flex;
  justify-content: center;
}

}

@media (max-width: 320px) {

  html {
    font-size: 0.6px;
  }
}
