.advantage {
  text-align: center;
}

.advantage__icon {
  margin-bottom: 9px;
}

.advantage__icon--wrapper {
  display: inline-block;
  position: relative;
  width: 126px;
  height: 126px;
  background: #F2F5F4;
  border-radius: 50%;
}

.advantage__icon--img {
  width: 65px;
  height: 64px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.advantage__text--title {
  margin-bottom: 13px;
  font-weight: bold;
  font-size: 27px;
  color: #000;
}