.menu {
  margin: 0 2%;
  padding-top: 8px;
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
    &__item {
      margin-right: 27rem;
      &:last-child {
        margin-right: 0;
      }
    }
}
