.menu-accord-section {
  position: relative;
  height: 100vh;
  background: url("../img/menu-accord/accord-bg.png") center / cover no-repeat;
}

.menu-accord__title {
  font-weight: bold;
  font-size: 48rem;
  color: white;
  text-align: left;
  padding-top: 10%;
  text-transform: uppercase;
}

.menu-accord__content {
 height: 100%;
 position: absolute;
 top: 0;
 right: 4%;
}

.menu-accord__list {
  display: flex;
  height: inherit;
}

.menu-accord__item {
  border: 1px solid black;
  display: flex;
}

.menu-accord__preview {
  cursor: pointer;
  max-width: 102rem;
   &-image1 {
    background:url('../img/menu-accord/milk-bg.png') center no-repeat;
    background-size: cover;
   }
}

/* .menu-accord__subtitle {
} */

.menu-accord__text {
  visibility: hidden;
  opacity: 0;
  padding: 0;
  width:0;
  transition: opacity .7s;
}

.menu-accord__item--active {
  .menu-accord__text {
    visibility: visible;
    opacity: 1;
    width: 30vh;
    padding: 10%;
  }
}
