
.footer {
  padding: 1% 1%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: white;
}


.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}